.modal-dialog{
  max-width: 700px;
  .modal-content{
    border: none;
    .modal-body{
      padding: 0;
    }
    .close{
      opacity: 0.8;
      position: absolute;
      right: 0%;
      span{
        color: white;
        width: 30px;
        height: 30px;
        border: 3px solid red;
        background-color: red;
        border-radius: 50%;
        display: block;
        transform: translate(13px, -10px);
      }
    }
  }
}
