<form
  #registerForm="ngForm"
  class="container"
  (ngSubmit)="signUp(registerForm)"
>
  <div class="form-group">
    <label for="">Tai khoan</label>
    <input
      type="text"
      class="form-control"
      value=""
      placeholder="tai khoan"
      name="account"
      ngModel
      required
      #accountControl="ngModel"

    />
    <!-- [ngModel]="accountValue" để tự động binding dữ liệu => áp dụng phần sửa -->
    <div
      class="alert alert-danger"
      *ngIf="accountControl.touched && accountControl.errors"
      minLength="4"
    >
      <span *ngIf="accountControl.errors.required" class="text text-danger"> Tài khoản không được rỗng ! </span>
      <span *ngIf="accountControl.errors.minLength" class="text text-danger"> Tài khoản phải từ 4 ký tự </span>
    </div>
    <label  for="">Mat khau</label>
    <input
      type="text"
      class="form-control"
      value=""
      placeholder="mat khau"
      name="password"
      ngModel
    />
    <label for="">Email</label>
    <input
      type="text"
      class="form-control"
      value=""
      placeholder="email"
      name="email"
      ngModel
      pattern="regexEmail"
      #emailControl = "ngModel"
    />
    <div
      class="alert alert-danger"
      *ngIf="emailControl.touched && emailControl.errors"
    >
    <span *ngIf="emailControl.errors.required" class="text text-danger"> Email không được để trống </span>
      <span *ngIf="emailControl.errors.pattern" class="text text-danger"> Email không hợp lệ! </span>
    </div>
    <label for="">So dien thoai</label>
    <input
      type="text"
      class="form-control"
      value=""
      placeholder="sdt"
      name="soDT"
      ngModel
    />
    <label for="">Ho ten</label>
    <input
      type="text"
      class="form-control"
      value=""
      placeholder="ho ten"
      name="hoTen"
      ngModel
    />
  </div>
  <div class="container">
    <button type="submit" class="btn btn-success mt-3">Signup</button>
  </div>
</form>
